
/* CSS Colores fríos */

body {
	/*056CF2,0F88F2,52B5F2,85D3F2,F2F2F2 */
	font-family:Verdana, Geneva, sans-serif;
	background-color:#F2F2F2;
	color:#056CF2;
}
h1 {
	/* hereda backgroud-color de body */
	color:#52B5F2;
	text-align:center;
	font-size: 3em;
}
h2 {
	background-color:#85D3F2;
	color:#0F88F2;
	font-size: 2em;
}
