/* CSS Colores cálidos */

body {
	/*FFE0A3,7F7D78,FFFAF0,7F7052,CCC8C0 */
	font-family:Verdana, Geneva, sans-serif;
	background-color:#FFFAF0;
	color:#7F7052;
}
h1 {
	/* hereda backgroud-color de body */
	color:#CCC8C0;
	text-align:center;
	font-size: 3em;
}
h2 {
	background-color:#7F7D78;
	color:#FFE0A3;
	font-size: 2em;
}
