/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: #818181;
  background-color: #fff;
  }
/*Especificidad: 001*/
h1 {
  /* hereda font-family */
  color: #fff;    
  background-color:#FF5733; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;  
  /*tamaño de la fuente 30% (3 veces) mayor que el tamaño de fuente heredado por los elementos h1 -> 16*3=48px   */
  font-size: 3em;
  }
  /*Especificidad: 001*/
p{
  /*Aparece una advertencia en el validador al no especificarse background-color
  comprobar la herencia de colores y que esta es correcta
  se debe añadir como comentario de donde se hereda el color o el background-color*/
  
  /*hereda de body background-color:#fff;  */
  
  color:black; 
}



